
ul.log.lines li,
ul.log.index li { border-left-width: 2em; margin: 0; }
ul.log.lines li:target { color: white; background-color: black; }

.hide { display: none; }

.meta span { border-left-width: 2em; border-left-style: solid; padding-left: 0.3em; }

dl { border-left: solid gray 5px; }
dl { border-top: solid gray 5px; }
/*dl { border-bottom: solid gray 2px; }*/

div.other {
clear: left;
padding-top: 0.5em;
}

.other h1 {
padding: 0;
margin: 0;
}

.top_menu ul
{
  list-style: none;
  padding: 0;
  margin: 0;
  }

.top_menu li
{
  float: left;
  margin: 0em 0.15em 0.15em 0.15em;
}

.top_menu {
  font-size: 40px;
font-family: sans-serif;
margin: 0;
margin-bottom: 15px;
}

.global
{
margin: 0;
font-family: serif;
}
.global.state
{
float: left;
font-size: 40px;
margin-right: 40px;
}
.global.state img {vertical-align: bottom; }
.global.eta
{
font-size: 20px;
}
.global.buttons
{
font-size: 16px;
}
.button {
float: left;
/*border: solid 2px gray;
color: #0d2474;*/
padding: 0;
margin-right: 5px;
 }
.button img { vertical-align: top; padding: 0; margin: 0; margin-right: 4px; }
.global.builds
{font-size: 20px;
margin: 10px;
 }
.global.builds div, .global.builds img { float: left; }
.global.builds div div { margin-left: 5px; }
.global.builds .next
{ margin-left: 30px; margin-right: 30px; }
.global.builds img { vertical-align: middle; }
.global.builds .current { font-weight: bold; }
.global.builds .snapshot { font-weight: normal; font-size: 10px; }
.snapshot { font-weight: normal; font-size: 10px; }

li.snapshot { margin: 0; padding: 0; font-weight: normal; font-size: 10px; text-align: center; }
.other li table li.error,
.other li table li.dependency_error,
.other li table li.warning,
.other li table li.information,
.other li table li.unknown,
.other li table li,
.other table ul.error,
.other table ul.dependency_error,
.other table ul.warning,
.other table ul.information,
.other table ul.unknown,
.other table ul
 { margin: 0; padding: 0; }

.clear { clear: both; }

.top_menu a
{
  color: #0d2474;
  background-color: white;
}

a { 
color: black;
 }

.other ul
{ 
padding: 0;
margin: 0;
}
.other li
{
  list-style-type: none;
  padding: 0.1em 0.1em 0.1em 0.5em;
  margin: 0.3em 0.3em 0.3em 0.0em;
}

/* colored ribbon */
.other div.error, .other ul.error, font.error, a.error
{
  border-left: 2em solid #ff4d4d;
  padding-left: 0.3em;
  }
.other div.dependency_error, .other ul.dependency_error, font.dependency_error, a.dependency_error
{
  border-left: 2em solid #AF7817;
  padding-left: 0.3em;
  }
.other div.warning, .other ul.warning, font.warning, a.warning
{
  border-left: 2em solid #ffa500;
  padding-left: 0.3em;
  }

.other div.perfect, .other ul.perfect, font.perfect, a.perfect
{
  border-left: 2em solid #4AA02C;
  padding-left: 0.3em;
  }

.other div.information, .other ul.information, font.information, a.information
{
  border-left: 2em solid #00ffff;
  padding-left: 0.3em;
  }

.other div.unknown, .other ul.unknown, font.unknown, a.unknown
{
  border-left: 2em solid #d3d3d3;
  padding-left: 0.3em;
  }

.unknown { border-color: #d3d3d3; }
.information { border-color: #00ffff; }
.warning { border-color: #ffa500; }
.dependency_error { border-color: #AF7817; }
.error { border-color: #ff4d4d; }

a.error,
a.dependency_error,
a.warning,
a.perfect,
a.information,
a.unknown
{ border-left-width: 0.5em;
padding-left: 1px;
}
/* li borders */

table ul, table li,
.other table li.error,
.other table li.dependency_error,
.other table li.warning,
.other table li.information,
.other table li.unknown,
.other table ul
{ margin: 0; padding: 0; list-style: none; border: none; }
td.next { text-align: center; }
td { border: 1px gray solid; border-bottom: 5px gray solid; }
td { margin: 0; padding: 1px; }
td.next { border-color: white; }
/*td.empty { border-color: white; }*/
td.empty.unknown { border-color: #ededed; }
td.empty.information { border-color: #b2ffff; }
td.empty.warning { border-color: #ffce73; }
td.empty.dependency_error { border-color: #c9891a; }
td.empty.error { border-color: #ff8c8c; }
.timeline td.empty { border-color: white; }

.other li.error { border: 1px solid #ff4d4d; }
.other li.dependency_error { border: 1px solid #AF7817; }
.other li.warning { border: 1px solid #ffa500; }
.other li.information { border: 1px solid #00ffff; }
.other li.unknown { border: 1px solid #d3d3d3; }
/*.other li.known_error
{
  border: 1px solid #ff00ff;
  }

.other li.probably_ok
{
  border: 1px solid #57E964;
  }*/
/*
.other li.perfect
{
  border: 1px solid #4AA02C;
  }
*/

.other li li.error,
.other li li.dependency_error,
.other li li.warning,
/*.other li li.known_error,
.other li li.probably_ok,*/
.other li li.perfect,
.other li li.information,
.other li li.unknown
{
padding: 0em 0.2em;
margin: 0.1em 0em;
border-width: 0 0 0 0.2em;
}

.other li table img { float: none; }
table img { vertical-align: middle; }

.other li li dl
{
  
}
img { border: none; }
dl.time { float: left; border: 2px solid gray; font-size: small; padding: 4px; background-color: #eeeeee; }

.insertion {
	color: #008000;
}

.deletion {
	color: #c00000;
}
